<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.memberservicepractice.Repository.MemberRepository">
    <select id="getList" parameterType="com.example.memberservicepractice.Dto.MemberDto" resultType="com.example.memberservicepractice.Dto.MemberDto">
        SELECT * FROM MEMBER
    </select>

    <select id="login" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE ID=#{id} AND PASSWORD=#{password}
    </select>
</mapper>