<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/get.css}"/>
</th:block>
<th:block layout:fragment="script">
    <script defer th:src="@{/js/member/get.js}" type="text/javascript" charset="utf-8"></script>
</th:block>
<main layout:fragment="content">
    <div class="container">
        <div class="info-section">
            <div class="title-wrapper">
                <h2>기본 정보</h2>
            </div>
            <div class="field-wrapper">
                <div class="form-group">
                    <label class="custom-label" th:for="id">ID</label>
                    <span class="id" th:text="${member.id}"></span>
                    <span th:if="${info.levelSeq == 1} and ${member.approvalDate == null}">
                        <button class="btn btn-primary approval-btn" type="button">승인</button></span>
                </div>
                <div class="form-group">
                    <label class="custom-label">회사명</label>
                    <span th:if="${member.levelSeq == 2}">CMT정보통신</span>
                    <span th:if="${member.levelSeq == 3}" th:text="${member.name}"></span>
                    <span th:if="${member.levelSeq == 4}" th:text="${member.client}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="name">이름</label>
                    <span th:text="${member.name}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="email">이메일</label>
                    <span th:text="${member.email}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="password">비밀번호</label>
                    <span th:if="${member.approvalDate == null}">승인 대기 중</span>
                    <span th:if="${info.levelSeq == 1} and ${member.approvalDate != null}"><button class="btn btn-primary password-btn"
                                                                                                   type="button">초기화</button></span>
                    <span th:if="${info.levelSeq == 3} and ${member.approvalDate != null}">사용 가능</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="info-section">
            <div class="title-wrapper">
                <h2>세부 정보</h2>
            </div>
            <div class="field-wrapper">
                <div class="form-group" th:if="${member.levelSeq == 3}">
                    <label class="custom-label" th:for="ceo">대표자</label>
                    <span th:text="${member.ceo}"></span>
                </div>
                <div class="form-group" th:if="${member.levelSeq == 4}">
                    <label class="custom-label" th:for="client">소속회사</label>
                    <span th:text="${member.client}"></span>
                </div>
                <div class="form-group" th:if="${member.levelSeq == 2} or ${member.levelSeq == 4}">
                    <label class="custom-label" th:for="department">부서</label>
                    <span th:text="${member.department}"></span>
                </div>
                <div class="form-group" th:if="${member.levelSeq == 2} or ${member.levelSeq == 4}">
                    <label class="custom-label" th:for="jobGrade">직급</label>
                    <span th:text="${member.jobGrade}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="phone">연락처</label>
                    <span th:text="${member.phone}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="remark">비고</label>
                    <span th:text="${member.remark}"></span>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary list-btn"><a href="/list">목록</a></button>
    </div>
</main>
</html>