<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<main>
    <div class="container">
    <ul class="member-filter">
        <li data-level="2">직원</li>
        <li data-level="3">고객사</li>
        <li data-level="4">고객</li>
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">이메일</th>
            <th scope="col">등급</th>
            <th scope="col">소속</th>
            <th scope="col">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${list}">
            <td th:text="${list.id}"></td>
            <td th:text="${list.name}"></td>
            <td th:text="${list.email}"></td>
            <td th:text="${list.levelDto.levelName}"></td>
            <td th:text="${list.client}"></td>
            <td th:if="${list.approvalDate == null}">미승인</td>
            <td th:unless="${list.approvalDate == null}">승인</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary"><a href="/create"> 계정 생성 요청</a></button>
    </div>
</main>
<script>
    $(".member-filter li").click(function() {
        $.ajax({
            url: "/filter",
            type: "GET",
            data: {levelSeq : $(this).attr('data-level')},
            dataType: "json",
            success: function(data){
                console.log(data);
                /*$.each(data, function (index, el) {
                    $(".table tbody").append("<tr><td>"+el.id+"</td><td>"+el.name+"</td><td>"+el.email+"</td><td>"+el.levelName+"</td><td>"+el.client+"</td><td>"+el.accountState+"</td></tr>")
                })*/
            }
        });
    });

    $("tbody tr").click(function() {
        let id = $(this).children().eq(0).text();
        location.href = "/list/"+id;
    });
</script>
</body>
</html>