<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/list.css}"/>
</th:block>
<th:block layout:fragment="script">
    <script defer th:src="@{/js/member/list.js}" type="text/javascript" charset="utf-8"></script>
</th:block>
<main layout:fragment="content">
    <div class="container">
        <h1>계정 목록</h1>
        <ul class="member-filter" th:if="${info.levelSeq == 1}">
            <li data-level="total">전체</li>
            <li data-level="2">직원</li>
            <li data-level="3">고객사</li>
            <li data-level="4">고객</li>
        </ul>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">이메일</th>
                <th th:if="${info.levelSeq == 1}" scope="col">등급</th>
                <th th:if="${info.levelSeq == 1}" scope="col">소속</th>
                <th th:if="${info.levelSeq == 3}" scope="col">부서</th>
                <th th:if="${info.levelSeq == 3}" scope="col">직급</th>
                <th scope="col">상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${list}">
                <td th:text="${list.id}"></td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.email}"></td>
                <td th:if="${info.levelSeq == 1}" th:text="${list.levelDto.levelName}"></td>
                <td th:if="${info.levelSeq == 3}" th:text="${list.department}"></td>
                <td th:if="${info.levelSeq == 1} and ${list.levelDto.levelName == '직원'}">CMT정보통신</td>
                <td th:if="${info.levelSeq == 1} and ${list.levelDto.levelName == '고객사'}" th:text="${list.name}"></td>
                <td th:if="${info.levelSeq == 1} and ${list.levelDto.levelName == '고객'}" th:text="${list.client}"></td>
                <td th:if="${info.levelSeq == 3}" th:text="${list.jobGrade}"></td>
                <td th:if="${list.approvalDate == null}">미승인</td>
                <td th:unless="${list.approvalDate == null}">승인</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary create-btn"><a href="/create"> 계정 생성 요청</a></button>
    </div>
</main>
</html>