<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/list.css}"/>
</th:block>
<th:block layout:fragment="script">
    <script defer th:src="@{/js/member/list.js}" type="text/javascript" charset="utf-8">
    </script>
    <script defer type="text/javascript" th:inline="javascript">
         let criteria = [[ ${pageMaker.criteria.getListLink(criteria.getPageNum())} ]]
    </script>
</th:block>
<main layout:fragment="content">
    <div class="container">
        <h1>계정 목록</h1>
        <div class="list-nav">
            <div class="filter-field">
                <ul class="member-filter" th:if="${info.levelSeq == 1} or ${info.levelSeq == 2}">
                    <li class="member-filter-item" data-level="total"><a th:href="@{/list}">전체</a></li>
                    <li class="member-filter-item" data-level="2"><a th:href="@{/list/2}">직원</a></li>
                    <li class="member-filter-item" data-level="3"><a th:href="@{/list/3}">고객사</a></li>
                    <li class="member-filter-item" data-level="4"><a th:href="@{/list/4}">고객</a></li>
                </ul>
            </div>
            <div class="input-group mb-3 search-field">
                <form th:action="@{''}" class="search-form" th:object="${criteria}">
                    <select class="custom-select search-select" name="type">
                        <option value="" selected>선택</option>
                        <option value="I">아이디</option>
                        <option value="N">이름</option>
                        <option value="C" th:if="${info.levelSeq == 1}">소속</option>
                    </select>
                    <input type="text" class="form-control keyword-input" name="keyword" aria-describedby="button-addon">
                    <input type="hidden" name="amount" th:field="*{amount}">
                    <button class="btn btn-outline-secondary search-button" type="button" id="button-addon"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">이메일</th>
                <th th:if="${info.levelSeq == 1} or ${info.levelSeq == 2}" scope="col">등급</th>
                <th th:if="${info.levelSeq == 1} or ${info.levelSeq == 2}" scope="col">소속</th>
                <th th:if="${info.levelSeq == 3} or ${info.levelSeq == 4}" scope="col">부서</th>
                <th th:if="${info.levelSeq == 3} or ${info.levelSeq == 4}" scope="col">직급</th>
                <th scope="col">상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${list}" class="list-each">
                <td th:text="${list.id}"></td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.email}"></td>
                <td th:if="${info.levelSeq == 1} or ${info.levelSeq == 2}" th:text="${list.levelDto.levelName}"></td>
                <td th:if="${info.levelSeq == 3} or ${info.levelSeq == 4}" th:text="${list.department}"></td>
                <td th:if="(${info.levelSeq == 1} or ${info.levelSeq == 2}) and ${list.levelDto.levelName == '직원'}">CMT정보통신</td>
                <td th:if="(${info.levelSeq == 1} or ${info.levelSeq == 2}) and ${list.levelDto.levelName == '고객사'}" th:text="${list.name}"></td>
                <td th:if="(${info.levelSeq == 1} or ${info.levelSeq == 2}) and ${list.levelDto.levelName == '고객'}" th:text="${list.client}"></td>
                <td th:if="${info.levelSeq == 3} or ${info.levelSeq == 4}" th:text="${list.jobGrade}"></td>
                <td th:if="${list.approvalDate == null}" class="waiting-text">미승인</td>
                <td th:unless="${list.approvalDate == null}" class="complete-text">승인</td>
            </tr>
            </tbody>
        </table>
        <nav class="pagination-field" aria-label="Page navigation example" th:object="${pageMaker}">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:if="*{prev}" th:with="first=${pageMaker.criteria.getListLink(pageMaker.startPage - 1)}" th:href="@{${first}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                    <li class="page-item" th:if="${pageMaker.criteria.getPageNum() == num}"><a class="page-link" th:text="${num}"></a></li>
                    <li class="page-item" th:unless="${pageMaker.criteria.getPageNum() == num}"><a class="page-link" th:text="${num}" th:with="url=${pageMaker.criteria.getListLink(num)}" th:href="@{${url}}"></a></li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" th:if="*{next}" th:with="last=${pageMaker.criteria.getListLink(pageMaker.endPage + 1)}" th:href="@{${last}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
<!--            <form action="/list" th:object="${criteria}" name="pageForm">
                <input type="hidden" name="pageNum" th:field="*{pageNum}">
                <input type="hidden" name="amount" th:field="*{amount}">
            </form>-->
        </nav>
        <button type="button" class="btn btn-primary create-btn" th:if="${info.levelSeq == 1} or ${info.levelSeq == 3}"><a href="/create"> 계정 생성 요청</a></button>
    </div>
</main>
</html>