html {
    font-family: 'Nanum Gothic', sans-serif;
}

.wrapper {
    display: flex;
}

.layout-nav {
    width: 14rem;
    background-color: #e3e3e3;
}

.layout-nav ul {
    list-style: none;
    margin: 0;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.menu-items {
    display: none;
}

nav a, a:hover {
    text-decoration: none;
    color: inherit;
}

nav i {
    margin-right: 0.25rem;
}

.i-drop {
    float: right;
}

.menu-logo-item img {
    width: 100%;
}

.menu-hr {
    margin: 0 1rem;
}

.content-container{
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: #21409A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-info, .member-nav {
    padding: 20px;
    color: white;
}

.member-nav ul{
    width: 200px;
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
}

.member-nav-item a {
    color: white;
    text-decoration: none;
}

main {
    height: 100vh;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #fbfbfb;
}

.btn-primary {
    background: #21409A!important;
    border-color: #21409A!important;
}

.show {
    display: block;
}