html {
    font-family: 'Nanum Gothic', sans-serif;
}

.container, .logo-field, .container-field, .button-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 100vh;
}

.logo-field, .button-field {
    margin: 50px;
}

.container-field img {
    width: 120%;
}

.container-field {
    width: 500px;
    height: 700px;
    background-color: #e8e8e8;
    border-radius: 20px;
}

.frm {
    width: 400px;
}

.info-field {
    text-align: center;
    font-size: small;
}

.info-message {
    margin: 0;
}

.error-message {
    color: red;
}

.button-field {
    justify-content: space-evenly;
}

button {
    background: #21409A!important;
    border-color: #21409A!important;
}