<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css"></th:block>
<!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
<th:block layout:fragment="script"></th:block>

<main layout:fragment="content">
    <div class="container">
        <h1>회원 상세</h1>
        ID : <span th:text="${info.id}"></span><br>
        이름 : <span th:text="${info.name}"></span><br>
        이메일 : <span th:text="${info.email}"></span><br>
        비밀번호 :<button class="btn btn-primary modify-pw-btn" type="button"><a th:href="@{/password/{member}(member=${info.id})}">변경</a></button>
        <hr>
        <div th:if="${info.levelSeq == 3}">
            대표자 : <span th:text="${info.ceo}"></span>
        </div>
        <div th:if="${info.levelSeq == 4}">
            소속회사 : <span th:text="${info.client}"></span>
        </div>
        <div th:if="${info.levelSeq == 2} or ${info.levelSeq == 4}">
            부서 : <span th:text="${info.department}"></span>
        </div>
        <div th:if="${info.levelSeq == 2} or ${info.levelSeq == 4}">
            직급 : <span th:text="${info.jobGrade}"></span>
        </div>
        <div>
            연락처 : <span th:text="${info.phone}"></span>
        </div>
        <div>
            비고 : <span th:text="${info.remark}"></span>
        </div>
        <button type="button" onclick="location.href='/main'">메인으로</button>
    </div>
</main>
</body>
</html>