<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myInfo.css}"/>
</th:block>

<main layout:fragment="content">
    <div class="container">
        <div class="info-section">
            <div class="title-wrapper">
                <h2>기본 정보</h2>
            </div>
            <div class="field-wrapper">
                <div class="form-group">
                    <label class="custom-label" th:for="id">ID</label>
                    <span th:text="${info.id}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label">회사명</label>
                    <span th:if="${info.levelSeq == 1} or ${info.levelSeq == 2}">CMT정보통신</span>
                    <span th:if="${info.levelSeq == 3}" th:text="${info.name}"></span>
                    <span th:if="${info.levelSeq == 4}" th:text="${info.client}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="name">이름</label>
                    <span th:text="${info.name}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="email">이메일</label>
                    <span th:text="${info.email}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="password">비밀번호</label>
                    <button class="btn btn-primary modify-pw-btn" type="button"><a th:href="@{/password/{member}(member=${info.id})}">변경</a></button>
                </div>
            </div>
        </div>
        <hr>
        <div class="info-section">
            <div class="title-wrapper">
                <h2>세부 정보</h2>
            </div>
            <div class="field-wrapper">
                <div class="form-group" th:if="${info.levelSeq == 3}">
                    <label class="custom-label" th:for="ceo">대표자</label>
                    <span th:text="${info.ceo}"></span>
                </div>
                <div class="form-group" th:if="${info.levelSeq == 4}">
                    <label class="custom-label" th:for="client">소속회사</label>
                    <span th:text="${info.client}"></span>
                </div>
                <div class="form-group" th:if="${info.levelSeq == 2} or ${info.levelSeq == 4}">
                    <label class="custom-label" th:for="department">부서</label>
                    <span th:text="${info.department}"></span>
                </div>
                <div class="form-group" th:if="${info.levelSeq == 2} or ${info.levelSeq == 4}">
                    <label class="custom-label" th:for="jobGrade">직급</label>
                    <span th:text="${info.jobGrade}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="phone">연락처</label>
                    <span th:text="${info.phone}"></span>
                </div>
                <div class="form-group">
                    <label class="custom-label" th:for="remark">비고</label>
                    <span th:text="${info.remark}"></span>
                </div>
            </div>
        </div>
    </div>
</main>
</html>