<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <h1>로그인</h1>
    <form class="frm" action="/password" method="post" th:object="${member}">
        <input type="hidden" name="_method" value="PUT"/>
        <div class="form-group current-pw-form">
            <label th:for="password">현재 비밀번호</label>
            <input type="password" placeholder="현재 비밀번호 입력해주세요" class="form-control current-password"
                   name="currentPw">
            <p class='error-msg' th:text="${message}"></p>
        </div>
        <div class="form-group">
            <label th:for="password">새 비밀번호</label>
            <input type="password" placeholder="새 비밀번호 입력해주세요" class="form-control password"
                   name="password" onkeyup="checkPwd()">
            <p class="error-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="password">새 비밀번호 확인</label>
            <input type="password" placeholder="새 비밀번호 다시 입력해주세요" class="form-control password-confirm"
                   name="pwConfirm" check-result="fail" onkeyup="checkPwd()">
        </div>
        <div class="check-new-pw">동일한 암호를 입력하세요.</div>
        <button type="button" class="btn btn-primary modify-pw-btn">변경</button>
        <button type="button" class="btn btn-primary">취소</button>
    </form>
    <br/>
</div>
<script>
    function checkPwd() {
        let pw1 = $('.password').val();
        let pw2 = $('.password-confirm').val();
        if (pw1.length == 0 || pw1 != pw2) {
            $('.check-new-pw').css('color', 'red');
            $('.check-new-pw').html('암호가 일치하지 않습니다.');
            $(".password-confirm").attr("check-result", "fail");
        } else {
            $('.check-new-pw').css('color', 'black');
            $('.check-new-pw').html('암호가 확인 되었습니다.');
            $(".password-confirm").attr("check-result", "success");
        }
    };

    $(".modify-pw-btn").click(function () {
        /*let pw1 = $('.password').val();
        let pw2 = $('.password-confirm').val();*/
        if ($(".password-confirm").attr("check-result") == "fail") {
            alert('비밀번호가 일치하지 않습니다.');
            $('.password').focus();
        } else {
            /*$.ajax({
                url: "/modifyPassword",
                type: "PUT",
                data: {currentPw : $('.current-password').val(),
                    password : $('.password').val()},
                dataType: "json",
                success: function(data){
                    if (data == 1) {
                        alert('비밀번호가 변경되었습니다. 로그인 페이지로 이동합니다.');
                        location.href = "/login"
                    } else {
                        $('.current-pw-form p').remove();
                        $('.current-pw-form').append("<p class='error-msg' style='color: red'>비밀번호가 일치하지 않습니다.</p>")
                        $('.current-password').focus();
                    }
                }
            });*/
            alert("비밀번호가 변경되었습니다. 로그인 페이지로 이동합니다.")
            $('.frm').submit();
        }
    });
</script>
</body>
</html>