<!--
<!DOCTYPE html>
&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <h1>로그인</h1>
    <form class="frm" th:action="@{/password/__${id}__}" method="post" th:object="${member}">
        <input type="hidden" name="_method" value="PUT"/>
        <div class="form-group current-pw-form">
            <label th:for="password">현재 비밀번호</label>
            <input type="password" placeholder="현재 비밀번호 입력해주세요" class="form-control current-password"
                   name="currentPw">
            <p class='error-msg' th:text="${message}"></p>
        </div>
        <div class="form-group">
            <label th:for="password">새 비밀번호</label>
            <input type="password" placeholder="새 비밀번호 입력해주세요" class="form-control password"
                   name="password" onkeyup="checkPwd()">
            <p class="error-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="password">새 비밀번호 확인</label>
            <input type="password" placeholder="새 비밀번호 다시 입력해주세요" class="form-control password-confirm"
                   name="pwConfirm" check-result="fail" onkeyup="checkPwd()">
        </div>
        <div class="check-new-pw">동일한 암호를 입력하세요.</div>
        <button type="button" class="btn btn-primary modify-pw-btn">변경</button>
        <button type="button" class="btn btn-primary cancel-btn">취소</button>
    </form>
    <br/>
</div>

</body>
</html>

-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/password.css"/>
    <script defer src="/js/password.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <section class="container-field">
        <form class="frm" th:action="@{/password/__${id}__}" method="post" th:object="${member}">
            <input type="hidden" name="_method" value="PUT"/>
            <div class="logo-field">
                <img th:src="@{/image/cmt_eyes_logo.svg}" alt="로고 이미지">
            </div>
            <div class="form-group current-pw-form">
                <!--<label th:for="password">현재 비밀번호</label>-->
                <input type="password" placeholder="현재 비밀번호" class="form-control current-password"
                       name="currentPw">
                <p class='error-message' th:text="${message}"></p>
            </div>
            <hr>
            <div class="form-group">
                <!--<label th:for="password">새 비밀번호</label>-->
                <input type="password" placeholder="새 비밀번호" class="form-control password"
                       name="password" onkeyup="checkPwd()">
                <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
            </div>
            <div class="form-group">
                <!--<label th:for="password">새 비밀번호 확인</label>-->
                <input type="password" placeholder="새 비밀번호 확인" class="form-control password-confirm"
                       name="pwConfirm" check-result="fail" onkeyup="checkPwd()">
            </div>
            <div class="check-new-pw">비밀번호는 영문자와 숫자, 특수기호가 적어도 1개 이상 포함된 6자~12자의 비밀번호여야 합니다.</div>
            <div class="button-field">
                <button type="button" class="btn btn-secondary cancel-btn">취소</button>
                <button type="button" class="btn btn-primary modify-pw-btn">변경</button>
            </div>
            <div class="info-field">
                <p class="info-message">비밀번호 변경 후 로그인 페이지로 이동합니다.</p>
            </div>
        </form>
    </section>
</div>
</body>
</html>