.error-message {
    color: red;
}

.success-message {
    color: green;
}

.container {
    height: 100%;
    padding: 50px;
}

.info-section {
    display: flex;
}

.title-wrapper {
    width: 20%;
}

.field-wrapper {
    width: 80%;
}

.id-field {
    display: flex;
}

h1, h2, label {
    font-weight: bold;
}

.custom-label {
    padding-right: 20px;
}

.button-field {
    float: right;
}

#check-btn {
    width: 130px;
}