.container {
    height: 100%;
    padding: 50px;
}

.member-filter {
    width: 300px;
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.member-filter-item {
    cursor: pointer;
    font-weight: bold;
}

.member-filter-item a {
    color: #21409A;
}

h1 {
    font-weight: bold;
}

.list-nav {
    display: flex;
    justify-content: space-between;
}

.search-field, .search-select {
    width: auto;
}

.search-form {
    display: flex;
}

.search-button {
    background-color: #21409A;
}

.bi-search {
    color: white;
}

.list-each {
    cursor: pointer;
}

.waiting-text {
    color: red;
}

.complete-text {
    color: blue;
}

.pagination-field {
    display: flex;
    justify-content: center;
}

.page-link {
    color: #21409A;
}

.create-btn {
    float: right;
}

.create-btn a {
    color: white;
    text-decoration: none;
}