.container {
    height: 100%;
    padding: 50px;
}

.member-filter {
    width: 300px;
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.member-filter li{
    cursor: pointer;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

.list-nav {
    display: flex;
    justify-content: space-between;
}

.search-field, .search-select {
    width: auto;
}

.search-form {
    display: flex;
}

.bi-search {
    color: white;
}

.pagination-field {
    display: flex;
    justify-content: center;
}

.create-btn {
    float: right;
}

.create-btn a {
    color: white;
    text-decoration: none;
}