.container {
    height: 100%;
    padding: 50px;
}

.member-filter {
    width: 300px;
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.member-filter li{
    cursor: pointer;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

.search-field {
    width: 400px;
}

.keyword-input {
    width: 200px!important;
}

.bi-search {
    color: white;
}

.create-btn {
    float: right;
}

.create-btn a {
    color: white;
    text-decoration: none;
}